# How do I work with dates and times in pandas?

In [3]:
import pandas as pd

In [10]:
ufo=pd.read_csv('http://bit.ly/uforeports')

In [12]:
ufo.head(2)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [13]:
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [15]:
ufo.Time.str.slice(-5,-3).head()

0    22
1    20
2    14
3    13
4    19
Name: Time, dtype: object

In [16]:
ufo['Time']=pd.to_datetime(ufo.Time)

In [18]:
ufo.head(2)

          City Colors Reported Shape Reported State                Time
0       Ithaca             NaN       TRIANGLE    NY 1930-06-01 22:00:00
1  Willingboro             NaN          OTHER    NJ 1930-06-30 20:00:00

In [19]:
ufo.dtypes

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

In [20]:
ufo.Time.dt.hour.head(2)

0    22
1    20
Name: Time, dtype: int64

In [21]:
ufo.Time.dt.month.head(2)

0    6
1    6
Name: Time, dtype: int64

In [22]:
ufo.Time.dt.weekday_name.head(2)

0    Sunday
1    Monday
Name: Time, dtype: object

In [23]:
ufo.Time.dt.weekday.head()   # go to

0    6
1    0
2    6
3    0
4    1
Name: Time, dtype: int64