# How do I rename columns in a pandas DataFrame?

In [1]:
import pandas as pd

In [2]:
ufo=pd.read_csv('http://bit.ly/uforeports')

In [4]:
ufo.head(2)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [5]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [6]:
ufo.rename(columns={'Colors Reported': 'Colors_Reported','Shape Reported':'Shape_Reported'},inplace=True)

In [7]:
ufo.head(2)

          City Colors_Reported Shape_Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [8]:
ufo_col=['city','color reported', 'shape reported', 'state', 'time']
ufo.columns=ufo_col

In [13]:
ufo.head(2)

          city color reported shape reported state             time
0       Ithaca            NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro            NaN          OTHER    NJ  6/30/1930 20:00

In [16]:
# replace spaces with a underscore
ufo.columns=ufo.columns.str.replace(' ','_')
ufo.head(1)

     city color_reported shape_reported state            time
0  Ithaca            NaN       TRIANGLE    NY  6/1/1930 22:00