# How do I use the "axis" parameter in pandas?

In [1]:
import pandas as pd

In [2]:
drinks=pd.read_csv('http://bit.ly/drinksbycountry')

In [3]:
drinks.head(2)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe

In [10]:
drinks.drop('continent',axis=1,inplace=False).head(2) # here we drop a columns so axis=1

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9

In [15]:
drinks.drop(2,axis=0).head(2) # here we droped the seconde row . notice that contient is in the table because the inplace was False

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe

In [16]:
drinks.shape

(193, 6)

In [18]:
drinks.mean(axis=0)  # here we have  the mean of each numerical columns  remamber that axis =0 means go down into the rows

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [21]:
drinks.mean(axis=1).head(2)   # here we have the mean of each row throught the all columns

0     0.000
1    69.975
dtype: float64

In [22]:
# on other way which is more easy to grasp:
drinks.mean(axis='index')
drinks.mean(axi*)

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64