# how do I select a pandas series from a dataframe

In [1]:
import pandas as pd
ufo=pd.read_csv('http://bit.ly/uforeports')

In [4]:
type(ufo) # gives the type of the structure passed into parametre   here it is a dataframe
# note that a dataframe it is just a combination of series 
# here we are going to see how  to  selest series from a dataFrame

pandas.core.frame.DataFrame

In [5]:
# let's have a look fisrt into the data
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [6]:
ufo['City'].head()  # select the serie for City

0                  Ithaca
1             Willingboro
2                 Holyoke
3                 Abilene
4    New York Worlds Fair
Name: City, dtype: object

In [7]:
ufo['Time'].head(2)

0     6/1/1930 22:00
1    6/30/1930 20:00
Name: Time, dtype: object

In [10]:
# we can do the actions above with other methods of course:
ufo.City[0:4]  # this command can not work for Color Reported because there is a space in the attribute name

0         Ithaca
1    Willingboro
2        Holyoke
3        Abilene
Name: City, dtype: object

In [11]:
ufo.Colors Reported

SyntaxError: invalid syntax (<ipython-input-11-b711e91473ca>, line 1)

In [12]:
ufo['newcolumns']=ufo.City
ufo.head(2)

,City,Colors Reported,Shape Reported,State,Time,newcolumns
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,Ithaca
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,Willingboro

In [13]:
ufo['new_column']=ufo['City']+' ;'+ufo['Shape Reported']
ufo.head(2)

,City,Colors Reported,Shape Reported,State,Time,newcolumns,new_column
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,Ithaca,Ithaca ;TRIANGLE
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,Willingboro,Willingboro ;OTHER

In [17]:
ufo['city_len']=ufo['Time'].apply(len)   # we can apply some methods on the attributes
ufo.head(2)

,City,Colors Reported,Shape Reported,State,Time,newcolumns,new_column,city_len
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,Ithaca,Ithaca ;TRIANGLE,14
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,Willingboro,Willingboro ;OTHER,15