# How do I use string methods in pandas

In [2]:
import pandas as pd
orders=pd.read_table('http://bit.ly/chiporders')

In [4]:
orders.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [5]:
orders.shape

(4622, 5)

In [11]:
orders.item_name.str.upper().head()  # use .str  for string in order to apply methods allowed by str

0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: item_name, dtype: object

In [14]:
orders[orders.item_name.str.contains('Chips')].head()  # get a dataframe where item_name contains Chips

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
6,3,1,Side of Chips,NaN,$1.69
10,5,1,Chips and Guacamole,NaN,$4.45
14,7,1,Chips and Guacamole,NaN,$4.45

In [16]:
orders.item_name.str.contains('Chips').head()  # get a serie of either item_name contains or not Chips

0     True
1    False
2    False
3     True
4    False
Name: item_name, dtype: bool

In [19]:
orders.choice_description.str.replace('[','').str.replace(']','').head

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
5       Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...
6                                                     NaN
7       Tomatillo Red Chili Salsa, Fajita Vegetables, ...
8       Tomatillo Green Chili Salsa, Pinto Beans, Chee...
9       Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
10                                                    NaN
11      Roasted Chili Corn Salsa, Fajita Vegetables, R...
12      Roasted Chili Corn Salsa, Rice, Black Beans, C...
13      Fresh Tomato Salsa, Fajita Vegetables, Rice, C...
14                                                    NaN
15                                                    NaN
16      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
17      Fresh Tomato Salsa (Mild), Black Beans, Rice, ...
18                                                 Sprite
19      Tomatillo Red Chili Salsa, Fajita Vegetables, ...
20                                                    NaN
21      Fresh Tomato Salsa (Mild), Tomatillo-Green Chi...
22                                     Pomegranate Cherry
23      Tomatillo-Green Chili Salsa (Medium), Tomatill...
24                                             Grapefruit
25                                                    NaN
26      Roasted Chili Corn Salsa (Medium), Pinto Beans...
27      Tomatillo-Green Chili Salsa (Medium), Roasted ...
28                                             Dr. Pepper
29      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
                              ...
4592    Tomatillo Red Chili Salsa, Rice, Fajita Vegeta...
4593    Roasted Chili Corn Salsa, Rice, Sour Cream, Ch...
4594    Roasted Chili Corn Salsa, Pinto Beans, Sour Cr...
4595       Tomatillo Green Chili Salsa, Rice, Black Beans
4596                                                  NaN
4597                                               Nestea
4598                                                  NaN
4599            Roasted Chili Corn Salsa, Cheese, Lettuce
4600                                                  NaN
4601                                            Diet Coke
4602                          Tomatillo Green Chili Salsa
4603                          Tomatillo Green Chili Salsa
4604    Fresh Tomato Salsa, Rice, Black Beans, Cheese,...
4605                                                  NaN
4606                                                 Coke
4607    Tomatillo Green Chili Salsa, Rice, Cheese, Sou...
4608    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
4609                                               Sprite
4610    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4611    Tomatillo Green Chili Salsa, Rice, Fajita Vege...
4612    Fresh Tomato Salsa, Fajita Vegetables, Rice, B...
4613                                                  NaN
4614                                                  NaN
4615         Fresh Tomato Salsa, Rice, Cheese, Sour Cream
4616                                                  NaN
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, dtype: object