# How do I remove columns from a pandas DataFrame

In [10]:
import pandas as pd

In [18]:
ufo=pd.read_csv('http://bit.ly/uforeports')
ufo.tail(2)

              City Colors Reported Shape Reported State              Time
18239  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [19]:
ufo.drop('Time',axis=1,inplace=True)
ufo.tail(2)

              City Colors Reported Shape Reported State
18239  Eagle River             RED          LIGHT    WI
18240         Ybor             NaN           OVAL    FL

In [20]:
ufo.drop(['City','State'],axis=1,inplace=True)

In [21]:
ufo.head()

  Colors Reported Shape Reported
0             NaN       TRIANGLE
1             NaN          OTHER
2             NaN           OVAL
3             NaN           DISK
4             NaN          LIGHT

In [24]:
ufo=pd.read_csv('http://bit.ly/uforeports')
ufo.drop([0,1],axis=0,inplace=True)   # axis here takes 0 as value because we will delete under the rows ( remamber that axis=1 is for columns)

In [25]:
ufo.head(2)

      City Colors Reported Shape Reported State             Time
2  Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3  Abilene             NaN           DISK    KS   6/1/1931 13:00