# How do I change the data type of a pandas Series

In [1]:
import pandas as pd

In [4]:
drinks=pd.read_csv('http://bit.ly/drinksbycountry')
drinks.dtypes   # gives the type of each columns

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [5]:
drinks['spirit_servings']=drinks.spirit_servings.astype('float')

In [6]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                 float64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [11]:
orders=pd.read_table('http://bit.ly/chiporders')
orders.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [13]:
orders.item_price.str.replace('$','').astype(float).head(2) # so we can apply mathematic on item_price

0    2.39
1    3.39
Name: item_price, dtype: float64

In [14]:
orders.item_name.str.contains('Chicken').astype(int).head()  # very important within machine learning to replace true false by numbers

0    0
1    0
2    0
3    0
4    1
Name: item_name, dtype: int32