# Why do some pandas commands end with parentheses (and others don't)?

In [1]:
import pandas as pd

In [2]:
movies=pd.read_csv('http://bit.ly/imdbratings')  # csv because the data is coma separated

In [6]:
movies.head(3)  # this is a method so it ends with ()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [8]:
movies.tail(2) # the same method

,star_rating,title,content_rating,genre,duration,actors_list
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [13]:
movies.describe() # gives some statistic for numerical attributes    methods also

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [30]:
movies.shape   # here it is a shape, a caracteristic of the data so there is no ()

(979, 6)

In [32]:
movies.dtypes # attribute also ,  gives the type of each columns

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

## conclusion:  for methods (actions ) we put (), but not for attribute (who you are)

In [34]:
movies.describe(include=['object'])  
## shift+ tabulation for more detail about include ( put the cursor just before include)

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,The Girl with the Dragon Tattoo,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6